.footer
    padding: 100px 0 0
    &__textline
        font-size: 16px
    &-wrap
        background: radial-gradient(109.47% 177.52% at -2.63% 110.29%, #FAA628 0%, #E62C28 59.37%, #A01A19 100%)
        color: white
        padding: 62px 0 47px
        .container 
            align-items: flex-end

    a 
        color: #fff

    &__descr
        text-align: center
        font-size: 31px
        padding: 15px 0
        font-weight: 300
        text-transform: uppercase

    &__logo 
        margin-bottom: 50px
        display: block

    .col 
        max-width: 316px